* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  color: #091D19;
}
header {
  background-color: transparent;
  position: relative;
  margin: 0;
  height: 100%;
  font-weight: 100;
  background: radial-gradient(#39A28F,#091D19);
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}
.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.x1{
  animation: floatUp 4s infinite linear;
  transform: scale(1.0);
}
.x2{
  animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}
.x3{
  animation: floatUp 2.5s infinite linear;
  transform: scale(.5);
  left: -15%;
}
.x4{
  animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.x5{
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}
.x6{
  animation: floatUp 3s infinite linear;
  transform: scale(.8);
  left: -81%;
}
.x7{
  animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}
.x8{
  animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}
.x9{
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}
@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

input {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.container {
  max-width: 951px;
  padding: 0 10px;
  margin: 0 auto;
}
h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 30px;
  color: #fff;
}
.contact {
  padding-top: 40px;
  margin-bottom: 150px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
    a {
      display: flex;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      font-size: 30px;
      line-height: 48px;
      margin-bottom: 60px;
      color: #fff;
    }
    &__btn {
      padding: 20px 50px;
      background-color: transparent;
      border: 1px solid #fff;
      color: rgb(255, 255, 255);
      border-radius: 20px;
      font-weight: 800;
      position: relative;
      overflow: hidden;
      margin-bottom: 80px;
      &:after {
        content: "";
        opacity: 0.86;
        display: block;
        width: 7px;
        height: 200px;
        margin-left: 50px;
        background: #fff;
        :after {
          content: "";
          display: block;
          width: 20px;
          height: 200px;
          margin-left: 50px;
          background: #fff;

          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0.5) 100%
          );
          left: -40px;
          top: -100px;
          z-index: 1;
          transform: rotate(45deg);
          position: absolute;
          animation: flareAnimation 1s infinite linear;
        }

        @keyframes movingFlare {
          0% {
            left: -10px;
            margin-left: 0px;
          }
          30% {
            left: 110%;
            margin-left: 80px;
          }
          100% {
            left: 110%;
            margin-left: 80px;
          }
        }
        left: -20px;
        top: -100px;
        z-index: 1;
        transform: rotate(45deg);
        position: absolute;
        animation: movingFlare 3s ease-in-out 0.05s infinite;
      }

      @keyframes movingFlare {
        0% {
          left: -30px;
          margin-left: 0px;
        }
        30% {
          left: 110%;
          margin-left: 80px;
        }
        100% {
          left: 110%;
          margin-left: 80px;
        }
      }
      &:hover {
        transition: 0.3s;
          background-color: rgba(365,365,365,0.5);
          opacity: .8;
          transition: .3s;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);   
      }
    }
  }
  &__right {
    position: relative;
    &__circle {
      animation: moving 5s infinite linear;
      @keyframes moving {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
    &__photo {
      position: absolute;
      left: 0%;
      top: 0%;
      max-width: 360px;
      transform-origin: 50% 50%;
      animation: jump 2s linear alternate infinite;

      @keyframes jump {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(0, -5%, 0);
        }
      }
    }
  }
}
.about {
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__me {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 60px;
    p {
      text-align: start;
      line-height: 30px;
      max-width: 100%;
    }
  }
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -10px;
  min-height: 100px;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
h2 {
  font-size: 72px;
  line-height: 88px;
  font-weight: 800;
  margin-bottom: 60px;
}
h4 {
  margin-bottom: 30px;
  font-size: 30px;
}
.skills {
  padding-bottom: 100px;
  &__skill {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    &__block {
      height: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      p {
        font-weight: 600;
      }
    }
  }
}
.work {
  text-align: center;
  padding-bottom: 100px;
  &__works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 10px;
    &__site {
      max-width: 300px;
      height: 100%;
      text-align: start;
      position: relative;
      width: 100%;
      display: inline-block;
      overflow: hidden;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
      &:hover {
        img {
          transform: scale(1.1);
        }
        p {
          text-decoration: underline;
        }
      }
      img {
        transition: 1s;
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
      }
      p {
        padding-left: 16pxf;
        margin-bottom: 20px;
        color: #000;
      }
    }
  }
}
footer {
  background: radial-gradient(#39A28F,#091D19);
  padding: 60px 0;
}
.navigation {
  display: flex;
  justify-content: center;
  li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
    a {
      display: flex;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 24px;
  }
  .work {
    &__works {
      justify-content: space-around;
      &__site {
        max-width: 290px;
      }
    }
  }
}
@media (max-width: 960px) {
  .work {
    &__works {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }
    .skills {
    &__skill {
      grid-template-columns: repeat(5, 1fr);
      grid-gap:10px;
      &__block {
        width: 130px;
      }
      &__block1 {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
  .name {
    margin-bottom: 0px;
    flex-direction: column-reverse;
    &__left {
      p {
        font-size: 20px;
      }
    }
    &__right {
      margin-bottom: 30px;
      img {
        max-width: 90%;
      }
    }
  }
  .skills{
    &__skill{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 80%;
  }
  h2 {
    font-size: 50px;
  }
  .contact {
    margin-bottom: 60px;
  }
  .skills {
    &__skill {
      &__block {
        width: 111px;
      }
    }
  }
  .work {
    &__works {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }
}
@media (max-width: 550px) {
  .skills {
    &__skill {
      &__block {
        width: 105px;
      }
    }
  }
  @keyframes animate{
    0%
    {
        transform: rotate(-75deg) translateX(0);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(-75deg) translateX(-1000px);
        opacity: 0;
    }
  }   
}
@media (max-width: 420px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .name {
    padding-top: 50px;
    &__right {
      &__photo {
        width: 80%;
      }
    }
  }
  .skills {
    &__skill {
      &__block {
        width: 100px;
      }
    }
  }
  .work {
    &__works {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }
  }
}
@media (max-width: 400px) {
  .skills {
    &__skill {
      &__block {
        width: 85px;
      }
    }
  }
}
@media (max-width: 375px) {
  .skills{
    &__skill{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

