* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  color: #091d19;
}

header {
  background-color: transparent;
  position: relative;
  margin: 0;
  height: 100%;
  font-weight: 100;
  background: radial-gradient(#39a28f, #091d19);
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}

.light {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
          animation: floatUp 4s infinite linear;
  transform: scale(1);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
          animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
          animation: floatUp 2.5s infinite linear;
  transform: scale(0.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
          animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
          animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
          animation: floatUp 3s infinite linear;
  transform: scale(0.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
          animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
          animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
          animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
.page {
  background: url(../img/background.svg);
  background-size: cover;
  background-position: center center;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.container {
  max-width: 951px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 30px;
  color: #fff;
}

.contact {
  padding-top: 40px;
  margin-bottom: 150px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.contact li {
  margin-right: 20px;
}
.contact li:last-child {
  margin-right: 0px;
}
.contact li a {
  display: flex;
}
.contact li a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.name__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name__left p {
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 60px;
  color: #fff;
}
.name__btn {
  padding: 20px 50px;
  background-color: transparent;
  border: 1px solid #fff;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 800;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}
.name__btn:after {
  content: "";
  opacity: 0.86;
  display: block;
  width: 7px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  left: -20px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  -webkit-animation: movingFlare 3s ease-in-out 0.05s infinite;
          animation: movingFlare 3s ease-in-out 0.05s infinite;
}
.name__btn:after :after {
  content: "";
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 100%);
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  -webkit-animation: flareAnimation 1s infinite linear;
          animation: flareAnimation 1s infinite linear;
}
@-webkit-keyframes movingFlare {
  0% {
    left: -10px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes movingFlare {
  0% {
    left: -10px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
.name__btn:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 40px 0 rgb(255, 255, 255);
}
.name__right {
  width: 50%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
}
.name__circle {
  background: radial-gradient(#695aed, #b347d6);
  border-radius: 34% 66% 44% 56%/37% 61% 39% 63%;
  transition: all 1s ease-out;
  box-shadow: 10px 0 40px #3f2b96;
  -webkit-animation: spin 6s ease-in-out infinite both alternate;
          animation: spin 6s ease-in-out infinite both alternate;
}
.name__photo {
  position: absolute;
  max-width: 360px;
  transform-origin: 50% 50%;
  -webkit-animation: jump 2s linear alternate infinite;
          animation: jump 2s linear alternate infinite;
}
@-webkit-keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5%, 0);
  }
}
@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5%, 0);
  }
}

.about {
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about__me {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 60px;
}
.about__me p {
  text-align: start;
  line-height: 30px;
  max-width: 100%;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -10px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
h2 {
  font-size: 72px;
  line-height: 88px;
  font-weight: 800;
  margin-bottom: 60px;
}

h4 {
  margin-bottom: 30px;
  font-size: 30px;
}

.skills {
  padding-bottom: 100px;
}
.skills__skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.skills__block {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.skills__block p {
  font-weight: 600;
}

.work {
  text-align: center;
  padding-bottom: 100px;
}
.work__works {
  justify-items: center;
  grid-gap: 10px;
}
.work__site {
  max-width: 100%;
  text-align: start;
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.work__site::before {
  content: "";
  width: 0%;
  height: 0%;
  background: radial-gradient(#39a28f, #091d19);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.work__site:hover::before {
  opacity: 0.9;
  height: 100%;
  width: 100%;
}
.work__site:hover .work__link {
  z-index: 5;
}
.work__site:hover p {
  opacity: 1;
}
.work__site img {
  display: block;
  max-width: 100%;
}
.work__site p {
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
.work__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 20px 50px;
  background-color: transparent;
  border: 1px solid #fff;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: 800;
  overflow: hidden;
}
.work__link:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 40px 0 rgb(255, 255, 255);
}

footer {
  background: radial-gradient(#39a28f, #091d19);
  padding: 60px 0;
}

.navigation {
  display: flex;
  justify-content: center;
}
.navigation li {
  margin-right: 20px;
}
.navigation li:last-child {
  margin-right: 0px;
}
.navigation li a {
  display: flex;
}
.navigation li a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@-webkit-keyframes spin {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 60%;
    height: 300px;
    width: 300px;
  }
  50% {
    border-radius: 30% 70% 70% 30%/50% 70% 30% 50%;
  }
  100% {
    border-radius: 68% 20% 42% 58%/53% 56% 44% 47%;
    height: 350px;
    width: 400px;
  }
}

@keyframes spin {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 60%;
    height: 300px;
    width: 300px;
  }
  50% {
    border-radius: 30% 70% 70% 30%/50% 70% 30% 50%;
  }
  100% {
    border-radius: 68% 20% 42% 58%/53% 56% 44% 47%;
    height: 350px;
    width: 400px;
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 960px) {
  .skills__skill {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  .skills__block {
    width: 130px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }

  .name {
    margin-bottom: 0px;
    flex-direction: column-reverse;
  }
  .name__right {
    width: 100%;
    margin-bottom: 30px;
  }
  .name__right img {
    max-width: 90%;
  }
  .name__left p {
    font-size: 20px;
  }

  .skills__skill {
    grid-template-columns: repeat(3, 1fr);
  }

  .work__site {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 80%;
  }

  h2 {
    font-size: 50px;
  }

  .contact {
    margin-bottom: 60px;
  }

  .skills__block {
    width: 111px;
  }
}
@media (max-width: 550px) {
  .work__link {
    top: 70%;
  }
  .work__site p {
    font-size: 20px;
    width: 90%;
  }

  .skills__block {
    width: 105px;
  }

  @-webkit-keyframes animate {
    0% {
      transform: rotate(-75deg) translateX(0);
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(-75deg) translateX(-1000px);
      opacity: 0;
    }
  }

  @keyframes animate {
    0% {
      transform: rotate(-75deg) translateX(0);
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(-75deg) translateX(-1000px);
      opacity: 0;
    }
  }
}
@media (max-width: 420px) {
  h2 {
    font-size: 40px;
  }

  .name {
    padding-top: 0px;
  }
  .name__right__photo {
    width: 80%;
  }

  .skills__block {
    width: 100px;
  }
}
@media (max-width: 400px) {
  .skills__block {
    width: 85px;
  }
}
@media (max-width: 375px) {
  .name__right {
    height: 250px;
  }

  .skills__skill {
    grid-template-columns: repeat(2, 1fr);
  }

  @-webkit-keyframes spin {
    0% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 60%;
      height: 220px;
      width: 200px;
    }
    50% {
      border-radius: 30% 70% 70% 30%/50% 70% 30% 50%;
    }
    100% {
      border-radius: 68% 20% 42% 58%/53% 56% 44% 47%;
      height: 250px;
      width: 300px;
    }
  }

  @keyframes spin {
    0% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 60%;
      height: 220px;
      width: 200px;
    }
    50% {
      border-radius: 30% 70% 70% 30%/50% 70% 30% 50%;
    }
    100% {
      border-radius: 68% 20% 42% 58%/53% 56% 44% 47%;
      height: 250px;
      width: 300px;
    }
  }
}/*# sourceMappingURL=style.css.map */