* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
}

header {
  background-image: url(../img/bg.jpg);
  background-position: top center;
  background-size: cover;
  padding-top: 40px;
  background-color: #fff;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.container {
  max-width: 951px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 30px;
  color: #fff;
}

.contact {
  margin-bottom: 150px;
  display: flex;
  justify-content: flex-end;
}
.contact li {
  margin-right: 20px;
}
.contact li:last-child {
  margin-right: 0px;
}
.contact li a {
  display: flex;
}
.contact li a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.contact li a svg {
  margin-right: 10px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.name__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name__left p {
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 60px;
  color: #fff;
}
.name__left__btn {
  padding: 20px 50px;
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  border-radius: 20px;
  font-weight: 800;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}
.name__left__btn:after {
  content: "";
  display: block;
  width: 7px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  left: -20px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  -webkit-animation: movingFlare 3s ease-in-out 0.05s infinite;
          animation: movingFlare 3s ease-in-out 0.05s infinite;
}
.name__left__btn:after :after {
  content: "";
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, white 50%, rgba(255, 255, 255, 0.5) 100%);
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  -webkit-animation: flareAnimation 1s infinite linear;
          animation: flareAnimation 1s infinite linear;
}
@-webkit-keyframes movingFlare {
  0% {
    left: -10px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes movingFlare {
  0% {
    left: -10px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
.name__left__btn:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
.name__right {
  position: relative;
}
.name__right__circle {
  -webkit-animation: moving 5s infinite linear;
          animation: moving 5s infinite linear;
}
@-webkit-keyframes moving {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes moving {
  100% {
    transform: rotate(-360deg);
  }
}
.name__right__photo {
  position: absolute;
  left: 0%;
  top: 0%;
  max-width: 360px;
  transform-origin: 50% 50%;
  -webkit-animation: jump 2s linear alternate infinite;
          animation: jump 2s linear alternate infinite;
}
@-webkit-keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5%, 0);
  }
}
@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5%, 0);
  }
}

.about {
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about__me {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 60px;
}
.about__me p {
  text-align: start;
  line-height: 30px;
  max-width: 100%;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -10px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
h2 {
  font-size: 72px;
  line-height: 88px;
  font-weight: 800;
  background: url(../img/bg.jpg);
  background-position: center center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 60px;
}

h4 {
  margin-bottom: 30px;
  font-size: 30px;
}

.skills {
  padding-bottom: 100px;
}
.skills__skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skills__skill__block {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.skills__skill__block p {
  font-weight: 600;
}

.work {
  text-align: center;
  padding-bottom: 100px;
}
.work__works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work__works__site {
  max-width: 300px;
  text-align: start;
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.work__works__site:hover img {
  transform: scale(1.1);
}
.work__works__site:hover p {
  text-decoration: underline;
}
.work__works__site img {
  transition: 1s;
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.work__works__site p {
  margin-bottom: 20px;
  color: #000;
}

footer {
  background-color: #24042c;
  padding: 60px 0;
}

.navigation {
  display: flex;
  justify-content: center;
}
.navigation li {
  margin-right: 20px;
}
.navigation li:last-child {
  margin-right: 0px;
}
.navigation li a {
  display: flex;
}
.navigation li a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 1440px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .work__works {
    justify-content: space-around;
  }

  h1 {
    font-size: 45px;
  }

  .name {
    flex-direction: column-reverse;
  }
  .name__left p {
    font-size: 20px;
  }
  .name__right {
    margin-bottom: 30px;
  }
  .name__right img {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .skills__skill__block {
    width: 130px;
  }

  .name {
    padding-top: 100px;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 50px;
  }

  .name {
    padding-top: 50px;
  }
}/*# sourceMappingURL=style.css.map */